<section fxLayout="column" fxFlexAlign="stretch">
    <div fxFlexAlign="center">
      <p>Welcome to the Material Angular OwnerAccount Application</p>
    </div>
    <p>In this application we are going to work with:</p>
    <mat-tab-group>
      <mat-tab label="Material Components"> 
        <p>We are going to use different material components to create nice looking angular app.</p>
        <mat-stepper [linear]="true" #stepper>
            <mat-step [stepControl]="firstFormGroup">
              <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Fill out your name</ng-template>
                <mat-form-field appearance="fill">
                  <mat-label>Name</mat-label>
                  <input matInput [(ngModel)]="name" placeholder="Last name, First name" formControlName="firstCtrl" required>
                </mat-form-field>
                <div>
                  <button mat-button matStepperNext>Next</button>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup" label="Fill out your address">
              <form [formGroup]="secondFormGroup">
                <mat-form-field appearance="fill">
                  <mat-label>Address</mat-label>
                  <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                         required>
                </mat-form-field>
                <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext>Next</button>
                </div>
              </form>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>Done</ng-template>
              <p>{{name}} You are now done.</p>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
              </div>
            </mat-step>
          </mat-stepper> 
      </mat-tab>
      <mat-tab label="Consume .NET Core Web API">
         <p>We will consume our .NET Core application. Basically, we will create complete CRUD client app.</p>
        <app-parent></app-parent>
        </mat-tab>
      <mat-tab label="Fully responsive navigation menu">
         <p>By using material components, we are going to create fully responsive navigation menu, with its side-bar as well.</p>
        </mat-tab>
    </mat-tab-group>
  </section>
 